@import url('https://rsms.me/inter/inter.css');

.fish {
  @apply inline-flex items-center justify-center bg-sea-500 w-10 h-10 text-2xl pt-1;
}

.title {
  @apply text-4xl font-black mb-2;
}

.heading {
  @apply font-bold text-2xl;
}

.markdown {
  h1 {
    @apply text-4xl font-black mb-4;
  }

  h2 {
    @apply text-2xl font-bold mb-4 mt-8;
  }

  a {
    @apply text-fish-500 font-bold;
  }

  a:hover {
    @apply border-b border-fish-200;
  }

  h3 {
    @apply text-xl font-bold text-gray-700 mb-4;
  }

  p,
  ul,
  ol {
    @apply leading-loose mb-4;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }

  code:not(.language-html) {
    @apply p-1 bg-sea-500 text-gray-900 rounded leading-none text-sm;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply font-mono;
  }

  pre[class*="language-"] {
    @apply p-4 text-sm;
  }

  blockquote {
    @apply px-2 bg-sea-100 border-l-4 border-sea-500;
  }
}

@media (prefers-color-scheme: dark) {
  .fish {
    @apply bg-yellow-400;
  }

  .markdown {
    a {
      @apply text-sea-500;
    }

    a:hover {
      @apply border-b border-sea-800;
    }

    code {
      @apply bg-sea-500 text-gray-900;
    }
  }
}