---
layout: layouts/base
---

<h2 class="heading mb-8">Articles</h2>

<article class="article-category-card">
  <h3 class="article-category-heading">SELECT * FROM articles;</h3>
	<p>Read everything I've written...</p>
</article>

<article class="article-category-card">
	<h3 class="article-category-heading">Software</h3>
	<p></p>
</article>

<article class="article-category-card">
	<h3 class="article-category-heading">Electronics</h3>
	<p>Read about building circuits &amp; simple electronics theory.</p>
</article>

<article class="article-category-card">
	<h3 class="article-category-heading">Misc.</h3>
</article>

