---
layout: layouts/base
---

<h2 class="heading text-3xl mb-2">Articles</h2>

<p class="mb-8">I like to write about a few different topics. Take your pick below...</p>

<nav>
	<a href="/articles/all" class="flex mb-4">
		<div class="bg-pink-400 flex-shrink-0 flex flex-col items-center justify-center p-1 w-32 min-h-full">
			<span class="text-5xl">🌍</span>
		</div>
		<div class="bg-gray-200 p-4 py-6 w-full">
			<h3 class="text-2xl font-semibold mb-1">Everything</h3>
			<p>Tutorials, guides, opinions &amp; best practises for developing software. Topics include React, Typescript,
				Node.</p>
		</div>
	</a>

	<a href="/articles/programming" class="flex mb-4">
		<div class="bg-yellow-400 flex-shrink-0 flex flex-col items-center justify-center p-1 w-32 min-h-full">
			<span class="text-5xl">💻</span>
		</div>
		<div class="bg-gray-200 p-4 py-6 w-full">
			<h3 class="text-2xl font-semibold mb-1">Programming</h3>
			<p>Tutorials, guides, opinions &amp; best practises for developing software. Topics include React, Typescript,
			</p>
		</div>
	</a>

	<a href="/articles/electronics" class="flex mb-8">
		<div class="bg-purple-400 flex-shrink-0 flex flex-col items-center justify-center p-1 w-32 min-h-full">
			<span class="text-5xl">⚡️</span>
		</div>
		<div class="bg-gray-200 p-4 py-6 w-full">
			<h3 class="text-2xl font-semibold mb-1">Electronics</h3>
			<p>Tutorials, guides, opinions &amp; best practises for developing software. Topics include React,</p>
		</div>
	</a>
</nav>