---
title: Jesse Sibley
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="webmention" href="https://webmention.io/jessesibley.com/webmention">
  <link rel="pingback" href="https://webmention.io/jessesibley.com/xmlrpc">
  <title>{{ title }}</title>
</head>

<body class="antialiased font-body text-gray-900">
  <header class="container mx-auto px-4 my-8 mb-12 flex items-center justify-between">
    <a href="/">
      <span class="fish" role="img" title="Matthew 4:19" aria-label="fish">🐟</span>
    </a>
    <nav>
      <ul class="flex mb-0">
        <li>
          <a href="/articles" class="nav-item">articles</a>
        </li>
        <li>
          <a class="nav-item" target="_blank" href="https://github.com/chickencoder" rel="me">github</a>
        </li>
        <li>
          <a class="nav-item" target="_blank" href="https://twitter.com/jessethesibley" rel="me">twitter</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container mx-auto px-4">
    {{ content | safe }}
  </main>
  <footer class="container mx-auto px-4 my-8 text-gray-600 text-sm">
    <ul class="flex items-center text-right">
      <li class="mr-8 hover:text-gray-900"><a href="/rss">RSS</a></li>
      <li class="mr-8 hover:text-gray-900"><a href="/sitemap.xml">Sitemap</a></li>
      <li class="hover:text-gray-900"><a target="_blank" href="https://github.com/chickencoder/blog">View Source</li>
    </ul>
  </footer>
</body>

</html>