---
layout: layouts/base
---

<section class="mb-8">
  <h2 class="text-2xl font-bold">About Me</h2>

  <p>
    I am a web developer based in Devon, UK. I enjoy building things with React, Typescript &amp; Node.js.
  </p>

  <p>
    I love exploring ideas &amp; building things. If I'm not working on a software project, I'm most likely fiddeling with electronics and building musical synth circuits.
  </p>
</section>